.env
*.env
.cache
*.cache

# Ignore CSV tracker
songs.csv

# Ignore temporary FFmpeg scripts
FFmpegAudioConvertPP
FFmpegAudioConvertPPails
FFmpegNormalizePP

# Ignore local Python environment
venv/